.starter{
    color: brown;
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
}
.after_middle{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}
h1{
color: blueviolet;
}
p{
    color: khaki;
    text-align: center;
}